<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html charset=UTF-8" />
<META name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="font-family: Century Gothic; background-color: white;">
	<table width="100%" height="100%" cellpadding="0" cellspacing="0"
		border="0">
		<tbody>
			<tr>
				<td align="center" style="background-color: white;">
					<table width="600" cellpadding="0" cellspacing="0" border="0">
						<tbody>
							<tr>
								<td style="background-color: rgb(255, 255, 255);">
									<table width="100%" cellpadding="0" cellspacing="0" border="0"
										style="border: 1px solid #dedede;">
										<tbody>
											<tr>
												<td align="center" style="padding: 46px 0 0 0;"><a
													href="#" target="_blank"> <img
														src="https://raw.githubusercontent.com/xamplify/xAmplify-prm-core/main/docs/images/xamplify-logo.png"
														alt="https://raw.githubusercontent.com/xamplify/xAmplify-prm-core/main/docs/images/xamplify-logo.png"
														width="145" align="center"/>
												</a></td>
											</tr>
											<tr>
												<td
													style="font-family: Century Gothic; font-size: 14px; line-height: 36px; padding: 40px 90px 10px 90px;">
													Hi <span th:text="${firstName}"></span>,</td>
											</tr>
											<tr>
												<td
													style="font-family: Century Gothic; font-size: 14px; line-height: 24px; padding: 6px 90px 10px 90px;">We
													are delighted to inform you that your <span th:text="${moduleName}"></span> reports have
													been processed successfully. Kindly take a moment to review
													the analytics related to your <span th:text="${moduleName}"></span> in the attached link <a
													th:href="${completeAmazonFilePath}"><span th:text="${moduleName}"></span>-data</a>.
													<br/>
													<br/> 
													Should you have any inquiries or require further
													assistance, please don't hesitate to reach out to us at
													support@xamplify.com. 
													<br/>
													<br/>
												</td>
											</tr>
											<tr>
												<td
													style="font-family: Century Gothic; font-size: 14px; line-height: 25px; padding: 0px 90px 10px 90px;">Until
													our next update, <br/> The xAmplify Team
												</td>
											</tr>
											<tr>
												<td height="0"
													style="padding: 10px 0 0 0; font-size: 0; line-height: 0;">
													&nbsp;</td>
											</tr>
											<tr>
												<td style="padding: 0 90px 0 90px;">
													<table width="100%" cellpadding="0" cellspacing="0"
														border="0" />
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>

