<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
body{font-family: Century Gothic; background-color: #fff;text-align: center}
table{border:1px solid #dedede;padding:1em 3em;align:center;width:600px;}
td{font-size: 13px; line-height: 24px; padding: 15px 40px}
#font-family{
font-family:Century Gothic;font-size:14px
}
</style>    
</head>
<body>
<table align="center">
    <tbody>
        <tr>
        <td align="center">
            <a th:href="${loginUrl}" target="_blank"> 
            <img src="https://xamplify.io/assets/images/xamplify-logo.png" alt="https://xamplify.io/assets/images/xamplify-logo.png" width="145" align="center"/>
            </a>
        </td>
        </tr>
        <tr>
            <td id="font-family">
                <p>Hi <span th:text="${campaignLaunchedUser} ?: 'there'"></span>,</p>
            </td>
        </tr>
        <tr>
            <td id="font-family">
                Looks like you’ve caught someone’s attention. Check out who has clicked the link in the campaign e-mail that you sent out:
              </td>
        </tr>

        <tr>
            <td id="font-family">
            	Campaign Name: <b><span th:text="${campaignName}"></span></b><br/> 
                Opened Link: <b><a th:href="${clickedLink}" target="_blank"><span th:text="${clickedLink}"></span></a> </b><br/> 
                Opened By: <b><span th:text="${firstName}"></span>  <span th:text="${lastName}"></span> <span th:text="${emailId}"></span></b><br/>
                Opened On:  <b><span th:text="${openedOn}"></span></b>
            </td>
        </tr>
        <tr>
           <td id="font-family">*happy dance*</td> 
        </tr>
        <tr>
            <td>
                The xAmplify Team<br/><br/>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>