<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
* {
	font-size: 100%;
	font-family: Century Gothic;
}

body {
	font-family: Century Gothic;
	background-color: #fff;
	text-align: center
}

table {
	border: 1px solid #dedede;
	padding: 1em 3em;
	align: center;
	width: 600px;
}

td {
	font-size: 13px;
	line-height: 24px;
	padding: 15px 40px
}
</style>
</head>
<body>
	<table align="center">
		<tbody>
			<tr>
				<td align="center"><a th:href="${targetURL}" target="_blank">
						<img th:src="${xAmplifyLogo}" alt="" width="145" align="center" />
				</a></td>
			</tr>
			<tr>
				<td>
					<p>
						Hi <span th:text="${welcomeDisplayName}"></span>,
					</p>
				</td>
			</tr>
			<tr>
				<td>Just letting you know that <span
					th:text="${loggedInVendorCompanyUser}"></span> from <b><span
						th:text="${vendorCompanyName}"></span></b>, has temporary access to
					your user account on <span th:text="${hostUrl}"></span>. This means
					they can do things on your behalf. Logging in as a partner is a
					feature that your vendor can use in xAmplify, usually to access
					your account on your behalf. Check with your vendor if you're not
					sure why they logged in as you.
				</td>
			</tr>

			<tr>
				<td style="font-family: Century Gothic; font-size: 14px;"><br />
					Best Regards,<br /> The xAmplify Team</td>
			</tr>

		</tbody>
	</table>
</body>
</html>