<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
* { font-size: 100%; font-family: Century Gothic;}
body{font-family: Century Gothic; background-color: #fff;text-align: center}
table{border:1px solid #dedede;padding:1em 3em;align:center;width:600px;}
td{font-size: 13px; line-height: 24px; padding: 15px 40px}
</style>    
</head>
<body>
<table align="center">
    <tbody>
        <tr>
        <td align="center">
            <a href="#" target="_blank"> 
            <img src="https://raw.githubusercontent.com/xamplify/xAmplify-prm-core/main/docs/images/xamplify-logo.png" alt="https://raw.githubusercontent.com/xamplify/xAmplify-prm-core/main/docs/images/xamplify-logo.png" width="145" align="center"/>
            </a>
        </td>
        </tr>
        <tr>
            <td>
                <p>Hi <span th:text="${toName} ?: 'there'"></span>,</p><br/>
            </td>
        </tr>
        <tr>
            <td>
                We wanted to give you a heads up that a task due date has passed.</td><br/>
        </tr>
        <tr>
           <td>
	            <b> Task Name: <span th:text="${taskName}">Task Name</span><br/>
	                Due Date: <span th:text="${dueDate}">Due Date</span><br/>
	                Assigned<span th:text="${isAssignedTo} ? ' To: ' : ' By: '"> </span><span th:text="${isAssignedTo} ? ${assignedToName} : ${assignedByName}"></span><br/>
	                Contact Name: <span th:text="${contactName} ? ${contactName} : '---'">Contact Name</span><br/>
	                Contact Email: <span th:text="${contactEmailId} ? ${contactEmailId} : '---'">Contact Email</span><br/><br/>
	            </b>
            </td>
        </tr>
        <tr>
            <td>
                The xAmplify Team<br/><br/>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>