<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
* {
	font-size: 100%;
	font-family: Century Gothic;
}

body {
	font-family: Century Gothic;
	background-color: #fff;
	text-align: center
}

table {
	border: 1px solid #dedede;
	padding: 1em 3em;
	align: center;
	width: 600px;
}

td {
	font-size: 13px;
	line-height: 24px;
	padding: 15px 40px
}
</style>
</head>
<body>
	<table align="center">
		<tbody>
			<tr>
				<td align="center"><a th:href="${targetURL}" target="_blank">
						<img src="https://xamplify.io/assets/images/xamplify-logo.png"
						alt="No Logo" width="145" align="center" />
				</a></td>
			</tr>
			<tr>
				<td>
					<p>
						Hi <span
							th:text="${upgradeRoleEmailNotification.firstName} ?: 'there'"></span>,
					</p>
				</td>
			</tr>
			<tr>
				<td>One of the xAmplify accounts has been upgraded.Below are
					the details</td>
			</tr>

			<tr>
				<td><b> Upgraded Company: <span
						th:text="${upgradeRoleEmailNotification.upgradedCompanyName}"
						style="color: #093bf3;"></span><br /> <br /> Upgraded From: <span
						th:text="${upgradeRoleEmailNotification.upgradedFrom}"
						style="color: red"></span><br /> <br /> Upgraded To: <span
						th:text="${upgradeRoleEmailNotification.upgradedTo}"
						style="color: #249d24;"></span><br /> <br /> Upgraded Company
						Admin Email: <span
						th:text="${upgradeRoleEmailNotification.emailId}"></span><br /> <br />
						Upgraded On: <span
						th:text="${upgradeRoleEmailNotification.upgradedOn}"></span><br />
						<br />

				</b></td>
			</tr>

			<tr>
				<td>
					<table border="1">
						<tr th:each="debugInfo : ${debugInfos}">
							<th><span th:text="${debugInfo}" style="color: #249d24;">
							</span></th>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>