<!-- Send Email to sales persons when someone requested for a demo -->
<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
* { font-size: 100%; font-family: Century Gothic;}
body{font-family: Century Gothic; background-color: #fff;text-align: center}
table{border:1px solid #dedede;padding:1em 3em;align:center;width:600px;}
td{font-size: 13px; line-height: 24px; padding: 15px 40px}
</style>    
</head>
<body>
<table align="center">
    <tbody>
        <tr>
        <td align="center">
            <a th:href="${targetURL}" target="_blank"> 
            <img src="https://raw.githubusercontent.com/xamplify/xAmplify-prm-core/main/docs/images/xamplify-logo.png" alt="No Logo" width="145" align="center"/>
            </a>
        </td>
        </tr>
        <tr>
            <td>
                <p>Hi,</p>
            </td>
        </tr>
        <tr>
            <td>A new request for upgrading for the Marketing Role.Below are the details</td>
        </tr>

        <tr>
            <td>
            <b> Requested By: <span th:text="${fullName}"></span><br/><br/>
                Email ID: <span th:text="${emailId}"></span><br/><br/>
                Requested Company: <span th:text="${company}"></span><br/>
            </b></td>
        </tr>
    </tbody>
</table>
</body>
</html>